@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #aaa9a9;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: #e6e6e6;
  }
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: var(--root-primary);
  }
}

button:focus {
  outline: none !important;
}

.ant-btn > span {
  display: inline-flex !important;
}

.header {
  font-family: 'Poppins', sans-serif;
}

.btn-primary {
  color: #fff;
  border-radius: 30px;
  padding: 0.575rem 1rem;
  font-size: 1rem;
  text-align: center;
  transition: all 0.3s ease-in-out;
  background-color: #82ae46;
  &:hover {
    color: #fff;
    background-color: #9bba68;
  }
}

.back-to-top {
  translate: 50% 50%;
  right: 50%;
  bottom: 0;
  position: absolute;
  .mouse-icon {
    width: 60px;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background: #82ae46;
    cursor: pointer;
    position: relative;
    text-align: center;
    margin: 0 auto;
    display: block;
    .mouse-wheel {
      height: 30px;
      margin: 2px auto 0;
      display: block;
      width: 30px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      -webkit-animation: 1.6s ease infinite wheel-up-down;
      -moz-animation: 1.6s ease infinite wheel-up-down;
      animation: 1.6s ease infinite wheel-up-down;
    }
  }

  @-webkit-keyframes wheel-up-down {
    100% {
      margin-top: 2px;
      opacity: 1;
    }
    30% {
      opacity: 1;
    }
    0% {
      margin-top: 20px;
      opacity: 0;
    }
  }

  @-moz-keyframes wheel-up-down {
    100% {
      margin-top: 2px;
      opacity: 1;
    }
    30% {
      opacity: 1;
    }
    0% {
      margin-top: 20px;
      opacity: 0;
    }
  }

  @keyframes wheel-up-down {
    100% {
      margin-top: 2px;
      opacity: 1;
    }
    30% {
      opacity: 1;
    }
    0% {
      margin-top: 20px;
      opacity: 0;
    }
  }
}
