.bg {
    background-size: cover;
    background-repeat: no-repeat;
    height: 620px;
    background-position: center;
    display: flex;
    align-items: center;
}

.login-form {
    margin-top: 20px;
}

.login-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    margin: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 20px 0px;
}


.ant-table-thead tr th{
    background:#82ae46;
    color: #ffffff;
}

.cart-empty{
    padding: 100px 0px;
}

.cart-empty>div{
    margin-bottom: 20px;
}

.ant-pagination-item{
    border-radius: 50px !important;
}

.ant-pagination-item-link{
    border-radius: 50px !important;
}

.ant-pagination-item-active{
    background-color: #82ae4680;
}