.custom_open_notify {
  color: #ffffff !important;
  background-color: rgba(39, 47, 56, 0.92) !important ;
  border-radius: 6px !important;

  .ant-notification-notice-message {
    width: 0px !important;
    height: 0px !important;
    display: none;
  }

  .ant-notification-notice-close {
    display: none;
  }
}
